---
import { formatDateStringToJapanese } from "../utils/date";
import ArticleThumbnail from "./ui/ArticleThumbnail.astro";
import ArticleMetadata from "./ui/ArticleMetadata.astro";

const { url, frontmatter } = Astro.props;
const dateText = formatDateStringToJapanese(frontmatter.pubDate);
---

<article class="bg-white shadow hover:shadow-md transition-shadow duration-300 cursor-pointer" onclick={`window.location.href='${url}'`}>
  <ArticleThumbnail 
    thumbnail={frontmatter.thumbnail}
    title={frontmatter.title}
  />
  <div class="p-5">
    <h2
      class="text-lg font-bold text-gray-900 mb-3 hover:text-gray-600 transition-colors relative"
    >
      {frontmatter.title}
      <div
        class="absolute -left-3 top-0 w-1 h-full bg-gray-600 opacity-0 hover:opacity-100 transition-opacity duration-300"
      >
      </div>
    </h2>
    <ArticleMetadata 
      dateText={dateText}
      category={frontmatter.category}
      tags={frontmatter.tags}
    />
    <div class="prose max-w-none">
      <p class="text-gray-600 leading-relaxed text-sm line-clamp-5">
        {frontmatter.description}
      </p>
    </div>
  </div>
</article>
