---
import BlogLayout from "./BlogLayout.astro";
import { Image } from "astro:assets";
import { formatDateStringToJapanese } from "../utils/date";
import TagList from "../components/ui/TagList.astro";

const { frontmatter, file, postId } = Astro.props;
const dateText = formatDateStringToJapanese(frontmatter.pubDate);
---

<BlogLayout>
  <div class="max-w-4xl mx-auto">
    <article class="bg-white shadow-md overflow-hidden rounded-lg">
      {
        frontmatter.thumbnail && (
          <div class="w-full h-48 sm:h-64 overflow-hidden">
            <Image
              src={frontmatter.thumbnail}
              alt={frontmatter.title}
              width={800}
              height={400}
              class="w-full h-full object-cover"
            />
          </div>
        )
      }
      <header class="p-4 sm:p-8 pb-2 sm:pb-4">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">
          {frontmatter.title}
        </h1>
        <div class="flex items-center text-sm text-gray-500 mb-4">
          <span>{dateText}</span>
          {
            frontmatter.category && (
              <>
                <span class="mx-2">|</span>
                <a
                  href={`/categories/${frontmatter.category}`}
                  class="text-gray-600 font-medium hover:underline"
                >
                  {frontmatter.category}
                </a>
              </>
            )
          }
        </div>
        {
          frontmatter.tags && (
            <div class="mb-6">
              <TagList tags={frontmatter.tags} />
            </div>
          )
        }
      </header>

      <div class="prose max-w-none px-4 sm:px-8 pb-4 sm:pb-8">
        <slot />
      </div>
    </article>
  </div>
</BlogLayout>
